*{
    z-index: 1;
}
html{
    overflow-x: hidden ;
}
h1{
    color: #ffffff;
    font-size: 140px;
    font-weight: inherit;
    font-family: "Jersey 25",sans-serif;
}
h3{
    color: #ffffff;
    font-size: 34px;
    font-weight: inherit;
    font-family: "IBM Plex Mono", monospace;
}
h4{
    font-family: "Jersey 25",sans-serif;
    color: #ffffff;
    font-size: 28px;
    font-weight: inherit;
}